.link {
	display: flex;
	gap: 10px;

	.icon {
		width: 84px;
		max-height: 44px;

		fill: var(--primary);
	}

	.text {
		display: flex;
		flex-direction: column;

		color: var(--primary);

		font-family: var(--tenor-sans);
		font-size: 18px;
		line-height: 16px;
	}
}
