.flowers {
	display: none;

	&.active {
		display: block;
	}

	.image {
		position: absolute;
	}

	.top {
		&Left {
			top: 0;
			left: 0;
		}

		&Right {
			top: 0;
			right: 0;
		}
	}

	.bottom {
		&Left {
			bottom: 0;
			left: 0;
		}

		&Right {
			right: 0;
			bottom: 0;
		}
	}
}
