@import '@/styles/variables';

.link {
	display: flex;

	align-items: center;

	gap: var(--gap-sm);

	color: var(--primary-color);
	font-size: var(--f-z-p-sm);

	.icon {
		width: 20px;
		height: 18px;

		margin-bottom: 4px;

		fill: var(--primary-color);

		@media (width <= $sm) {
			width: 18px;
			height: 16px;
		}
	}
}
