@import '@/styles/variables';

.line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;

	@media (width <= $lg) {
		padding: 0;
	}

	.phones {
		display: flex;
		gap: 30px;

		color: var(--primary);
		font-size: 20px;
		font-weight: 500;

		@media (width <= $lg) {
			display: none;
		}
	}

	.tg {
		@media (width <= $lg) {
			display: none;
		}
	}
}
