@import '@/styles/variables';

.line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;

	@media (width <= $lg) {
		padding: 20px 0;
	}
}

.phones {
	gap: 30px;
}
