{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"singleAttributePerLine": true,
	"importOrder": [
		"^./page.data(.*)$",
		"^next(.*)$",
		"^react(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^(.*).scss$",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/store/(.*)$",
		"^@/types/(.*)$",
		"^@/",
		"^[../]",
		"^[./]"
	],
	"importOrderSeparation": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
