@import '@/styles/variables';

.footer {
	margin-top: 80px;
	padding: 80px 0;

	background: var(--secondary-color);

	font-size: 20px;

	&.isOtherPage {
		background: white;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		gap: 60px;

		@media (width <= $lg) {
			flex-direction: column;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.tg {
		color: var(--black);
	}
}
