@import '@/styles/variables';

.footer {
	margin-top: var(--m-b);
	padding: var(--m-b) 0;

	background: var(--secondary-color);

	font-size: var(--f-z-p-md);
	font-weight: 500;

	&.isOtherPage {
		background: white;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		gap: clamp(40px, 6vw, 60px);

		@media (width <= $lg) {
			flex-direction: column;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.tg {
		color: var(--black);

		svg {
			fill: var(--black);
		}
	}
}
