.feedback {
	padding-top: 90px;

	// @media (width <= 1920px) {

	background: url('/images/feedback/1.webp');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	// background-size: contain;

	// }

	.heading {
		max-width: 760px;
		margin: 0 auto;
		margin-bottom: 90px;

		font-family: var(--secondary-font);
		font-size: var(--f-z-h2);
		line-height: 1.2;
		text-align: center;
	}
}
