@import '@/styles/variables';

.images {
	display: flex;
	justify-content: center;
	gap: 100px;
	margin-bottom: clamp(10px, 2.5vw, 20px);

	@media (width <= $lg) {
		gap: 15px;
	}

	.image {
		min-height: 200px;
	}
}
