@import '@/styles/variables';

.images {
	display: flex;
	justify-content: center;
	gap: clamp(15px, 8vw, 100px);
	margin-bottom: clamp(10px, 2.5vw, 20px);

	@media (width <= $md) {
		gap: 15px;
	}

	.image {
		min-width: 0;
		height: auto;
		min-height: 200px;
		object-fit: cover;
		object-position: center;
	}
}
