.heading {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: var(--m-b);

	font-family: var(--secondary-font);
	line-height: 1.1;
	text-wrap: balance;
	overflow-wrap: break-word;
	hyphens: auto;

	.title {
		font-size: var(--f-z-h1);
	}

	.subtitle {
		font-size: var(--f-z-h2);
	}
}
