.ring {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
}

.ring i {
	inset: 0;

	position: absolute;

	border: 2px solid #fff;

	transition: 0.3s;

	&:hover {
		background-color: black;
	}

	&::before {
		background-color: black;
	}

	@media (width <= 1024px) {
		background-color: red;
	}

	@media (width >= 1024px) {
		background-color: red;
	}
}

.ring i:nth-child(1) {
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;

	animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
	border-radius: 40% 45% 55% 60% / 35% 70% 50% 35%;

	animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
	border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;

	animation: animate 10s linear infinite;
}

.ring:hover i {
	border: 2px solid var(--color);

	filter: drop-shadow(0 0 20px var(--color));
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

.login {
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 300px;
	height: 100%;
}

.login h2 {
	color: #fff;
	font-size: 2em;
}

.login .inputBx {
	position: relative;

	width: 100%;
}

.login .inputBx input {
	position: relative;

	width: 100%;

	padding: 12px 20px;
	border: 2px solid #fff;
	border-radius: 40px;
	box-shadow: none;
	outline: none;

	background: transparent;

	color: #fff;

	font-size: 1.2em;
}

.login .inputBx input[type='submit'] {
	width: 100%;
	border: none;

	background: #0078ff;
	background: linear-gradient(45deg, #ff357a, #fff172);

	cursor: pointer;
}

.login .inputBx input::placeholder {
	color: rgb(255 255 255 / 75%);
}

.login .links {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 20px;
}

.login .links a {
	color: #fff;
	text-decoration: none;
}

.typing {
	width: 21ch;
	border-right: 3px solid;

	overflow: hidden;

	font-family: monospace;

	font-size: 2rem;
	white-space: nowrap;

	animation:
		typing 2.5s steps(22),
		blink 0.5s step-end infinite alternate;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Keyframes */
@keyframes wiggle {
	0%,
	7% {
		transform: rotateZ(0);
	}

	15% {
		transform: rotateZ(-15deg);
	}

	20% {
		transform: rotateZ(10deg);
	}

	25% {
		transform: rotateZ(-10deg);
	}

	30% {
		transform: rotateZ(6deg);
	}

	35% {
		transform: rotateZ(-4deg);
	}

	40%,
	100% {
		transform: rotateZ(0);
	}
}

body {
	background: #000;
}

button {
	position: absolute;
	top: calc(50% - 2em);
	left: calc(50% - 3em);

	width: 7em;

	height: 4em;

	border: none;
	border-top: 3px solid orange;
	border-radius: 0 0 0.2em 0.2em;

	background: #444;
	background: linear-gradient(to top, #555, #333);

	color: #fff;
	font-family: Helvetica, Arial, sans-serif;

	font-size: 1em;

	animation: wiggle 2s linear infinite;

	transform-origin: 50% 5em;
}

.test::before {
	content: '';

	position: absolute;
	top: 0;
	z-index: -1;

	display: block;
	width: 100%;
	height: 10%;

	background: #9df;

	transition: transform 1s ease;

	transform: scaleX(0);
	transform-origin: bottom right;
}

.test {
	position: relative;

	&:hover {
		&::before {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
}
