@import '@/styles/variables';

.header {
	margin-bottom: clamp(30px, 5vw, 50px);

	background: white;

	@media (width <= $lg) {
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 20px;
		}
	}
}
