.toTop {
	position: fixed;
	right: 40px;
	bottom: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 5px 15px rgb(0 0 0 / 15%);

	background: white;

	transition: 300ms ease-out;

	scale: 0.7;

	&.active {
		opacity: 1;
		visibility: visible;

		scale: 1;
	}
}
