@import '@/styles/variables';

.card {
	--gray: #69707d;

	display: flex;

	border-radius: 10px 10px 60px;
	overflow: hidden;

	background: white;

	font-size: clamp(14px, 3vw, 22px);

	@media (width <= $lg) {
		flex-direction: column;
		border-radius: 10px;
	}

	.image {
		@media (width <= $lg) {
			display: none;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		flex-grow: 1;
		padding: 60px 80px;

		@media (width <= $lg) {
			gap: 20px;
			padding: 15px;
		}

		.name {
			font-size: clamp(28px, 6vw, 36px);
			font-weight: 500;
			line-height: 1.2;
			text-wrap: balance;
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: 5px;

			color: var(--gray);

			.item {
				display: flex;
				justify-content: space-between;
				gap: 15px;
			}

			span {
				color: var(--black);
				text-align: right;
			}
		}

		.price {
			display: flex;
			flex-direction: column;
			gap: 10px;

			color: var(--gray);
			font-size: clamp(22px, 4vw, 34px);
			line-height: 1.2;

			p {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;
			}

			span {
				color: var(--black);

				font-weight: 700;
				text-wrap: nowrap;
			}
		}

		.button {
			align-self: flex-start;

			@media (width <= $lg) {
				align-self: stretch;
			}
		}
	}
}
