@import '@/styles/variables';

.cards {
	.heading {
		max-width: 950px;
		margin: 0 auto;
		margin-bottom: var(--m-b-heading);

		font-family: var(--secondary-font);
		font-size: var(--f-z-h1);
		line-height: 1.2;
		text-align: center;
		overflow-wrap: break-word;
		hyphens: auto;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--gap);

		@media (width <=$lg) {
			max-width: 700px;
			margin: 0 auto;
		}
	}
}
