.cards {
	.heading {
		max-width: 950px;
		margin: 0 auto;
		margin-bottom: 60px;

		font-family: var(--tenor-sans);
		font-size: 50px;
		text-align: center;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}
}
