.cards {
	.heading {
		max-width: 950px;
		margin: 0 auto;
		margin-bottom: clamp(20px, 4vw, 40px);

		font-family: var(--tenor-sans);
		font-size: clamp(24px, 6vw, 50px);
		line-height: 1.2;
		text-align: center;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: clamp(15px, 3vw, 30px);
	}
}
