@import '@/styles/variables';

.textWithImage {
	div {
		display: flex;
		align-items: flex-start;
		gap: var(--gap);

		@media (width <=$md) {
			flex-direction: column;
		}

		.image {
			min-width: 300px;
		}
	}
}
