@import 'reset';
@import 'variables';

:root {
	// Colors
	--primary-color: #cb19a4;
	--secondary-color: #f7dff2;
	--background-color: white;
	--black: #222;
	--gray: #adadad;
	--green: #4fbe3c;

	// z-indexes
	--z-i-max: 6;
	--z-i-high: 5;
	--z-i-medium: 4;
	--z-i-normal: 3;
	--z-i-lite: 2;
	--z-i-min: 1;

	// margins
	--m-b: clamp(40px, 7vw, 80px);

	.isOtherPage {
		--background-color: var(--secondary-color);
	}
}

body {
	display: flex;
	flex-direction: column;

	background: var(--background-color);

	color: var(--black);
	font-size: clamp(18px, 3vw, 22px);

	// overflow-wrap: break-word;
	// hyphens: auto;
}

main {
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;

	background: var(--primary-color);
}

::selection {
	background: var(--primary-color);

	color: white;
}

.scrollLocked {
	overflow: hidden;
}
