@import 'reset';
@import 'variables';

:root {
	// Colors
	--primary: #cb19a4;
	--secondary: #f7dff2;
	--background: white;
	--text: #222;
	--gray: #adadad;
	--green: #4fbe3c;

	// z-indexes
	--z-i-max: 6;
	--z-i-high: 5;
	--z-i-medium: 4;
	--z-i-normal: 3;
	--z-i-lite: 2;
	--z-i-min: 1;

	// margins
	--margin-b: clamp(40px, 7vw, 80px);

	.isOtherPage {
		--background: var(--secondary);
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 2000px;
	padding-bottom: 160px;

	background: var(--background);

	color: var(--text);
	font-size: clamp(18px, 3vw, 22px);
}

main {
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;

	background: var(--primary);
}

::selection {
	background: var(--primary);

	color: white;
}

.scrollLocked {
	overflow: hidden;
}
