@import 'reset';
@import 'variables';

:root {
	// Colors
	--primary-color: #cb19a4;
	--secondary-color: #f7dff2;
	--background-color: white;
	--black: #222;
	--gray: #adadad;
	--green: #4fbe3c;

	// z-indexes
	--z-i-max: 6;
	--z-i-high: 5;
	--z-i-medium: 4;
	--z-i-normal: 3;
	--z-i-lite: 2;
	--z-i-min: 1;

	// margins
	--m-b: clamp(40px, 7vw, 80px);
	--m-b-heading: clamp(25px, 5vw, 50px);

	// gaps
	--gap: clamp(10px, 2.5vw, 30px);

	// font-sizes
	--f-z-h1: clamp(36px, 6vw, 50px);
	--f-z-h2: clamp(28px, 4.75vw, 40px);
	--f-z-h3: clamp(24px, 4vw, 36px);
	--f-z-h4: clamp(22px, 3.75vw, 30px);
	--f-z-h5: clamp(18px, 3.75vw, 24px);
	--f-z-p: clamp(18px, 3vw, 22px);
	--f-z-p-md: clamp(17px, 2.8vw, 20px);
	--f-z-p-sm: clamp(16px, 2.8vw, 18px);

	.isOtherPage {
		--background-color: var(--secondary-color);
	}
}

body {
	display: flex;
	flex-direction: column;

	// background: var(--background-color);
	background: var(--secondary-color);

	color: var(--black);
	font-size: var(--f-z-p);
}

main {
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;

	background: var(--primary-color);
}

::selection {
	background: var(--primary-color);

	color: white;
}

.scrollLocked {
	overflow: hidden;
}
